:root {
  --bg-primary: #add8e65e;
  --main-color: #000;
  --font-family: sans-serif;
}

html,
body {
  font-family: sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
}
